<div class="col-xs-12 col-sm-12 col-md-12">
  <!-- Name -->
  <div class="row">
    <h3>Name</h3>
  </div>
  <br>

  <!-- Language -->
  <div class="row">
    <span>Language</span>
  </div>

  <!-- Education Wualification an Achievements -->
  <div class="row">
    <div class="container global-heading">
     <strong>Education Qualification and Achievements</strong>
    </div>

    <div class="container">
      <div class="row ">
        <div class="col-md-3 global-row text-md-center">
         <p> Degree</p>
        </div>
        <div class="col-md-2 global-row text-md-center">
        <p> Year</p>
        </div>
        <div class="col-md-5 global-row text-md-center">
          <p>Institute</p>
        </div>
        <div class="col-md-2 global-row text-md-center">
          <p>CGPA</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 global-row">
          <p>Academic Achievements</p>
        </div>
        <div class="col-md-8 global-row">
          <ul>
            <li>Test</li>
          </ul>
        </div>
        <div class="col-md-2 global-row text-md-center">
          <p>Year</p>
        </div>
      </div>

    </div>

  </div>

<br>

  <!-- Internships -->

  <div class="row">
    <div class="container global-heading">
      Internships
    </div>

    <div class="container">
      <div class="row global-row ">
          <div class="col-md-3 text-md-left">
              <strong> Degree</strong>
             </div>
          <div class="col-md-6 text-md-center">
              <strong> Position</strong>
             </div>
          <div class="col-md-3 text-md-right">
              <p> From - To</p>
             </div>
      </div>
      <div class="row">
          <div class="col-md-2 global-row text-md-center">
            <p>Project</p>
          </div>
          <div class="col-md-8 global-row">
            <ul>
              <li>Test</li>
            </ul>
          </div>
          <div class="col-md-2 global-row text-md-center">
            <p>Year</p>
          </div>
        </div>
      </div>
  </div>

</div>